<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片文字识别</title>
</head>
<body>
<form method="post" action="/upload" enctype="multipart/form-data">
    <input type="file" name="file" value="upload image"><br><br>
    <input type="submit" value="submit">
</form>
<br><br>
<h3>Output Text:</h3>
<textarea cols="200px" rows="20px" readonly="readonly">
    im text from baidu...
</textarea>
<br><br>
<h2>开发不易，容器很贵，请您支持</h2>
<img src="receiveMoney.jpg" height="10%" width="10%">
</body>
</html>